* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

html {
  font-family: sans-serif;
}

.timer {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  margin: 8px;
  padding: 32px;
}

.timer:hover .remove-timer-btn {
  color: rgba(0, 0, 0, 0.25) !important;
}

.timer:hover .remove-timer-btn:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}

.timer:hover .remove-timer-btn:active {
  color: rgba(0, 0, 0, 1) !important;
}


.timer .timer-name {
  font-size: 32px;
}

.timer .timer-time-left {
  font-size: 48px;
}

.timer button {
  font-size: 16px;
  margin-right: 8px;
  padding: 8px;
  border-radius: 5px;
  font-weight: 300;
  color: #FFFFFF;
}

.timer .button-start {
  border: 1px solid #00E461;
  background-color: #00E461;
}

.timer .button-start:hover {
  border: 1px solid #00E461;
  background-color: #FFFFFF;
  color: #00E461;
}

.timer .button-start:active {
  border: 1px solid #FFFFFF;
  background-color: #00E461;
  color: #FFFFFF;
}

.timer .button-stop {
  border: 1px solid #FF0000;
  background-color: #FF0000;
}

.timer .button-stop:hover {
  border: 1px solid #FF0000;
  background-color: #FFFFFF;
  color: #FF0000;
}

.timer .button-stop:active {
  border: 1px solid #FFFFFF;
  background-color: #FF0000;
  color: #FFFFFF;
}

.timer .button-clear {
  border: 1px solid #A1A1A1;
  background-color: #A1A1A1;
}

.timer .button-clear:hover {
  border: 1px solid #A1A1A1;
  background-color: #FFFFFF;
  color: #A1A1A1;
}

.timer .button-clear:active {
  border: 1px solid #A1A1A1;
  background-color: #A1A1A1;
  color: #FFFFFF;
}

.dark-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.new-timer .form {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: #FFFFFF;
  padding: 50px;
  z-index: 2;
}

.new-timer label {
  font-size: 32px;
}

.new-timer input {
  border-radius: 5px;
  padding: 8px;
  height: 32px;
  font-size: 28px;
  font-weight: 300;
  color: #787878;
  border: 1px solid black;
  letter-spacing: 0.05em;
}

.new-timer input:focus {
  outline: none;
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}

.new-timer button {
  font-size: 16px;
  margin-right: 8px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #1E78FA;
  background-color: #1E78FA;
  font-weight: 300;
  color: #FFFFFF;
}

.new-timer button:hover {
  background-color: #FFFFFF;
  color: #1E78FA;
}

.new-timer button:active {
  background-color: #1E78FA;
  color: #FFFFFF;
}

.display-timer-form-btn {
  font-size: 16px;
  margin-right: 8px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #1E78FA;
  background-color: #1E78FA;
  font-weight: 300;
  color: #FFFFFF;
}

.display-timer-form-btn:hover {
  background-color: #FFFFFF;
  color: #1E78FA;
}

.display-timer-form-btn:active {
  background-color: #1E78FA;
  color: #FFFFFF;
}

.timer-list {
  text-align: center;
}

.close-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px !important;
  color: rgba(0, 0, 0, 0.25) !important;
}

.close-form-btn:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}

.close-form-btn:active {
  color: rgba(0, 0, 0, 1) !important;
}

.remove-timer-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 32px !important;
  color: rgba(0, 0, 0, 0) !important;
}

.ready {
  color: #00E461;
}
